
.categories{
    display: flex;
    gap: 5rem;
    margin: 3rem 10rem 3rem 10rem;
}
.category{
    text-align: center;
    background-color: #93cbe2;
    border-radius: 0.5rem;
    width: 10rem;
}
.info{
    color: white;
    font-size: 20px;
}
.categories a{
    text-decoration: none;
    
}
